# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# macOS
.AppleDouble
.LSOverride

# Environment / secrets
.env
*.secret